@page
@inherits Abp.VueTemplate.MenuManagement.Web.Pages.MenuManagementPage
@model Abp.VueTemplate.MenuManagement.Web.Pages.MenuManagement.IndexModel
@{
}
<h1>MenuManagement</h1>
<p>A sample page for the MenuManagement module.</p>